#root {
  text-align: center;
}

.wrap {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  background: lightblue;
}
.wrap .input {
  margin-right: 5px;
}

.fade-enter, .fade-appear {
  opacity: 0;
}
.fade-enter-active, .fade-appear-active {
  opacity: 1;
  transition: all .5s ease;
}
.fade-enter-done {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all .5s ease;
}
.fade-exit-done {
  opacity: 0;
}